# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
npm-debug.log
yarn-error.log
yarn-lock.json
package-lock.json

node_modules
template/js
template/.eslintcache

# iOS
#
*.xcuserdata
*.xcuserdatad/
*.xcuserdata/
*.xcuserdata/
*.xcuserdata/
ios/Pods
Pods
ios/build

.yarn

//android
android/app/src/main/assets
android/app/src/main/res/raw
android/app/.cxx/
